/Datasets
/Competitions/HousingPrices/Model/submission.csv
/Competitions/HousingPrices/Data
/Competitions/Titanic/Model/submission.csv
/Competitions/Titanic/Data
/Competitions/Titanic/Model/titanic_OE_submission.csv
/Competitions/HousingPrices/Model/2nd_submission.csv
/Competitions/HousingPrices/Model/3rd_submission.csv
/Competitions/Titanic/Model/titanic_OE_submission.csv
/Competitions/Titanic/Model/3rd_submission.csv
/Competitions/LoanPayback/Data
/Competitions/LoanPayback/Model/1st_submission.csv